# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# generated platform folders (recreate with `flutter create .`)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
*.iml
